@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: "Inter", system-ui, -apple-system, sans-serif;
  --font-geist-mono: ui-monospace, monospace;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-surface text-slate-900 antialiased;
}
